/* //định nghĩa ra 1 font chữ */

@font-face {
  font-family: fontXucXac;
  src: url(./Pony.ttf);
}

/* //dùng font */

.gameXucXac {
  font-family: fontXucXac;
  font-size: 2rem!important;
}

/* .bg-danger .display-4 .p-5 .text-light {
  font-size: 10px!important;
} */